{% extends 'base.html.twig' %}

{% block title %}New UserDoctrine{% endblock %}

{% block body %}
    <h1>Create new UserDoctrine</h1>

    {{ include('user_doctrine/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('user_doctrine_index') }}">back to list</a>
{% endblock %}
